@import "tailwindcss";

/* You must define CSS variables for primary + accent colors in globals */

/* :root {
  --primary-900: oklch(25% 0.03 270);
  --primary-200: oklch(85% 0.04 270);
  --accent-500: oklch(60% 0.15 180);
  --accent-600: oklch(50% 0.15 180);
} */

:root {
  --primary-50: oklch(0.9277 0.0121 247.96);
  --primary-100: oklch(0.8957 0.0164 245.1);
  --primary-200: oklch(0.8225 0.0285 248.17);
  --primary-300: oklch(0.7474 0.0419 248.39);
  --primary-400: oklch(0.6713 0.0541 248.64);
  --primary-500: oklch(0.5939 0.0687 249.05);
  --primary-600: oklch(0.5166 0.0612 249.09);
  --primary-700: oklch(0.4366 0.0495 249.02);
  --primary-800: oklch(0.3533 0.0385 250.38);
  --primary-900: oklch(0.2634 0.0258 248.84);
  --primary-950: oklch(0.2224 0.0196 248.73);

  --accent-50: oklch(0.9726 0.0086 67.72);
  --accent-100: oklch(0.9463 0.017 76.11);
  --accent-200: oklch(0.8847 0.0367 74.03);
  --accent-300: oklch(0.8288 0.0528 71.73);
  --accent-400: oklch(0.7746 0.0704 72.23);
  --accent-500: oklch(0.7131 0.089 70.68);
  --accent-600: oklch(0.6489 0.1032 69.88);
  --accent-700: oklch(0.5501 0.0864 69.61);
  --accent-800: oklch(0.4454 0.0671 69.48);
  --accent-900: oklch(0.3478 0.0506 69.44);
  --accent-950: oklch(0.2905 0.0401 71.31);
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary-900);
    border-right-color: var(--primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Date picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: var(--accent-500) !important;
  --rdp-background-color: var(--accent-600) !important;
  margin: 0 !important;
}
